
-- EJEMPLO DE TRIGGER CON CONTROL DE STOCK
USE master
GO
IF EXISTS (SELECT NAME FROM sys.databases 
           WHERE name = 'stock')
  begin
    DROP DATABASE STOCK
  end
           

CREATE DATABASE STOCK
GO

USE STOCK
GO

CREATE TABLE DBO.ARTICULOS (ID INT PRIMARY KEY, NOMBRE VARCHAR(100),
                            STOCK DECIMAL (18,2))
                            
GO

CREATE TABLE DBO.MOVIMIENTOS (TRANSACCION INT,FECHA DATE DEFAULT(GETDATE()),
                              ARTICULO_ID INT FOREIGN KEY 
                              REFERENCES DBO.ARTICULOS(ID),
                              CANTIDAD DECIMAL(18,2), TIPO CHAR(1) 
                              CHECK (TIPO ='I' OR TIPO = 'O') 
                              ) 
GO

-- INSERTAMOS REGISTROS EN LA TABLA ARTICULOS

INSERT INTO DBO.ARTICULOS (ID,NOMBRE,STOCK) 
VALUES (1,'TECLADO',0),(2,'MOUSE',0),(3,'LCD',0)

-- CREAMOS LOS TRIGGER PARA TENER ACTUALIZADO EL STOCK

CREATE TRIGGER DBO.TR1 ON DBO.MOVIMIENTOS
FOR INSERT
AS
BEGIN
  
  SET NOCOUNT ON -- NO RETORNA MENSAJES DE CANTIDAD DE REG AFECTADOS
  
  UPDATE DBO.ARTICULOS 
  SET STOCK = STOCK + T.PARCIAL
  FROM DBO.ARTICULOS A
  INNER JOIN 
  ( SELECT ARTICULO_ID,
    SUM(CASE WHEN TIPO='I' THEN CANTIDAD ELSE -CANTIDAD END)
    AS PARCIAL FROM INSERTED
    GROUP BY ARTICULO_ID
   ) T
   ON
   
   A.ID = T.ARTICULO_ID
END
GO


CREATE TRIGGER DBO.TR2 ON DBO.MOVIMIENTOS
FOR DELETE
AS
BEGIN
  
  SET NOCOUNT ON -- NO RETORNA MENSAJES DE CANTIDAD DE REG AFECTADOS
  
  UPDATE DBO.ARTICULOS 
  SET STOCK = STOCK - T.PARCIAL
  FROM DBO.ARTICULOS A
  INNER JOIN 
  ( SELECT ARTICULO_ID,
    SUM(CASE WHEN TIPO='I' THEN CANTIDAD ELSE -CANTIDAD END)
    AS PARCIAL FROM DELETED
    GROUP BY ARTICULO_ID
   ) T
   ON
   A.ID = T.ARTICULO_ID
END
GO

-------------- PROBAMOS EL EJERCICIOS

-- VEMOS EL STOCK ACTUAL 

SELECT A.ID,A.NOMBRE,A.STOCK 
FROM DBO.ARTICULOS  A

-- INSERTAMOS UN  REGISTRO PARA EL ARTICULO 1

INSERT INTO dbo.MOVIMIENTOS 
(TRANSACCION,ARTICULO_ID,FECHA,CANTIDAD,TIPO)
VALUES 
(1,1,GETDATE(),100,'I')

-- VEMOS EL STOCK

SELECT A.ID,A.NOMBRE,A.STOCK 
FROM DBO.ARTICULOS  A
WHERE A.ID = 1

-- INSERTAMOS MAS DE UN REGISTRO

INSERT INTO dbo.MOVIMIENTOS 
(TRANSACCION,ARTICULO_ID,FECHA,CANTIDAD,TIPO)
VALUES 
(2,1,GETDATE(),10,'I'),
(3,1,GETDATE(),5,'O')

-- VEMOS EL STOCK

SELECT A.ID,A.NOMBRE,A.STOCK 
FROM DBO.ARTICULOS  A
WHERE A.ID = 1

-- BORRAMOS LA TRANSACCION 1 DE I=100

DELETE FROM dbo.MOVIMIENTOS
WHERE TRANSACCION = 1

-- BORRAMOS LA TRANSACCION 3 CON O = 5

DELETE FROM dbo.MOVIMIENTOS
WHERE TRANSACCION = 3


-- BORRAMOS TODO

DELETE FROM dbo.MOVIMIENTOS

-- APAGAMOS LOS TRIGGER 

ALTER TABLE DBO.MOVIMIENTOS DISABLE TRIGGER ALL

-- VEMOS EL STOCK


SELECT A.ID,A.NOMBRE,A.STOCK 
FROM DBO.ARTICULOS  A
WHERE A.ID = 1

-- INSERTAMOS UNA TRANSACCION

INSERT INTO dbo.MOVIMIENTOS 
(TRANSACCION,ARTICULO_ID,FECHA,CANTIDAD,TIPO)
VALUES 
(1,1,GETDATE(),100,'I')

-- VEMOS EL STOCK

SELECT A.ID,A.NOMBRE,A.STOCK 
FROM DBO.ARTICULOS  A
WHERE A.ID = 1






